* {
  font-family: "Courier New", Courier, monospace;
}

.box {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  align-items: center;
  margin-top: 10%;
}

.first {
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  padding: 2%;
}

.headerTxt {
  font-size: 50px;
  text-align: center;
  margin-bottom: 1%;
}

input[type="text"] {
  font-size: 30px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.first > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  /* border: 1px solid green; */
}

/* .second {
  border: 1px solid yellow;
  margin: 1%;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  /* padding: 3%; */
/* } */
.second > input[type="text"] {
  width: 100%;
  /* margin-right: 3%; */
}

button {
  width: 100%;
  font-size: 30px;
  padding: 1%;
  margin-top: 1%;
  background: #6999e6;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid black;
  padding: 10px;
  margin: 5px;
  outline: none;
}

::placeholder {
  font-size: 25px;
}

@media screen and (max-width: 430px) {
  button {
    width: 100%;
  }

  input[type="text"] {
    width: 100%;
  }
}
